h2 {
    text-align: center;
}

.card {
    border: 2px solid saddlebrown;
    margin: 1rem 1rem;
    border-radius: 15px;
    box-shadow: 6px 6px 6px #00000052;

}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}